@import url('https://fonts.googleapis.com/css?family=Marck+Script|Ultra|Indie+Flower');
/*************************GENERAL**************************/

body {
  width: 100%;
  background-image: url('../images/Alaska.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.post-row,
.comment-row,
.comments-container-form,
.connection-form-row,
.registration-form-row {
  background-color: burlywood;
  border: 7px solid #343A40;
  -webkit-box-shadow: inset 0.1em 0.1em 2.5em rgb(141, 116, 84), 0.5em 0em 1em rgb(30, 34, 37);
  box-shadow: inset 0.1em 0.1em 2.5em rgb(141, 116, 84), 0.5em 0em 1em rgb(30, 34, 37);
}

/* .post {} */

.comment {
  border-top: 5px solid #343434;
}

.comment:first-child {
  border-top: none;
}

.connection-form container {
  height: 2000px;
}

.post-container-header,
.connection-form-container-header,
.registration-form-container-header {
  height: 150px;
  font-family: 'Niconne', cursive;
  background-color: burlywood;
  border: 7px solid #343A40;
  -webkit-box-shadow: inset 0.1em 0.1em 2.5em rgb(141, 116, 84), 0.5em 0em 1em rgb(30, 34, 37);
  box-shadow: inset 0.1em 0.1em 2.5em rgb(141, 116, 84), 0.5em 0em 1em rgb(30, 34, 37);
}

.connection-form-container-title,
.registration-form-container-title {
  font-family: 'Ultra', serif;
  font-size: 3.6em;
}

/* .connection-form,
.registration-form {} */

.connection-form-title,
.registration-form-title {
  text-align: center;
  font-family: 'Ultra', serif;
  font-size: 2.5em;
}

.connection-form-title,
.registration-form-title {
  color: rgb(141, 116, 84);
  -webkit-text-stroke: 2px #343A40;
}

.post-title {
  text-align: center;
  font-family: 'Ultra', serif;
  font-size: 2.5em;
}

.comment-title {
  text-align: left;
  font-family: 'Ultra', serif;
  font-size: 1.5em;
}

.post-date,
.comment-date,
.comment-author {
  font-family: 'Niconne', cursive;
  font-size: 1.05em;
}

.post-content,
.comment-content {
  font-family: 'Indie Flower', cursive;
  text-align: justify;
}

.post-content {
  font-size: 1.4em;
}

.comment-content {
  font-size: 1.2em;
}

/* .comments-container-form {} */

.registration-input-group {
  width: 750px;
}

.registration-input-group-text {
  width: 270px;
  border: none;
}

.errors-hide {
  display: none;
}

.connection-form-btn,
.registration-form-btn {
  font-family: 'Ultra', serif;
  color: black;
  background: rgb(141, 116, 84);
}

.pagination {
  border: 7px solid #343A40;
  -webkit-box-shadow: inset 0.1em 0.1em 2.5em rgb(141, 116, 84), 0.5em 0em 1em rgb(30, 34, 37);
  box-shadow: inset 0.1em 0.1em 2.5em rgb(141, 116, 84), 0.5em 0em 1em rgb(30, 34, 37);
}

.page-item {
  border-right: 4px solid rgb(207, 172, 126);
}

.page-item:last-child {
  border: none;
}

.page-link {
  padding: 0.5em 0.8em;
  font-family: 'Ultra', serif;
  font-size: 1.4em;
  color: black;
  background-color: burlywood;
  border: none;
  border-radius: 0px;
}

.prev,
.next {
  padding: 0.5em 0.6em;
  border-radius: 0px !important;
}

.page-link:hover {
  color: burlywood;
  background-color: #343A40;
}

/* .book-summary {}

.contact-infos {} */

.btn-fb {
  padding: 1.2em 0.7em 0.7em 1em;
  background-color: #3B5998;
}

/* .btn-fb:hover {} */

.btn-tw {
  padding: 1.2em 0.6em 0.7em 0.9em;
  background-color: #55ACEE;
}

.btn-youtube {
  padding: 1.2em 0.7em 0.7em 0.7em;
  background-color: #FF0000;
}

.footer-copyright {
  background-color: rgb(41, 45, 49);
}

h5 {
  color: burlywood;
}

.legal-notices a {
  color: burlywood;
}

/**************************BACK***************************/
.posts-list-admin {
  color: #343A40;
}

.posts-list-admin,
.comment-report-row {
  background-color: burlywood;
  border: 7px solid #343A40;
  -webkit-box-shadow: inset 0.1em 0.1em 2.5em rgb(141, 116, 84), 0.5em 0em 1em rgb(30, 34, 37);
  box-shadow: inset 0.1em 0.1em 2.5em rgb(141, 116, 84), 0.5em 0em 1em rgb(30, 34, 37);
}

.editor-row {
  border: 11px solid #343A40;
  border-radius: 10px;
}

.comment-report {
  border-top: 5px solid #343434;
}

.comment-report:first-child {
  border-top: none;
}

.table thead th {
  color: burlywood;
  background: #343A40;
  border-color: #343A40;
  vertical-align: middle;
}

.posts-list-admin td,
.posts-list-admin th {
  border-color: #343A40;
  border: 2px solid #343A40;
}

.posts-list-admin tbody th,
.posts-list-admin tbody td {
  color: #343A40;
  font-weight: bold;
}

.post-title-cell {
  color: rgb(128, 77, 10);
}

/*************************FRONT***************************/

.blog-header {
  font-family: 'Marck Script', cursive;
}

.blog-author {
  padding: 0;
  margin: 0;
  font-size: 2.5em;
  color: white;
}

.blog-author:hover {
  color: burlywood;
  text-decoration: none;
}

.connection,
.registration,
.home,
.creation,
.disconnection {
  font-size: 1.1em;
  color: #343A40;
}

.connection:hover,
.registration:hover,
.home:hover,
.creation:hover,
.disconnection:hover {
  color: white;
  background-color: burlywood;
}

.posts-list-header {
  height: 150px;
  font-family: 'Niconne', cursive;
  background-color: burlywood;
  border: 7px solid #343A40;
  -webkit-box-shadow: inset 0.1em 0.1em 2.5em rgb(141, 116, 84), 0.5em 0em 1em rgb(30, 34, 37);
  box-shadow: inset 0.1em 0.1em 2.5em rgb(141, 116, 84), 0.5em 0em 1em rgb(30, 34, 37);
}

.book-title {
  font-family: 'Ultra', serif;
  font-size: 3.6em;
}

/* .post-header,
.comment-header,
.post-container-header {} */

.read-more,
.comments-number,
.report {
  font-family: 'Niconne', cursive;
  font-size: 1.1em;
  color: black;
}

.read-more:hover {
  color: rgb(66, 45, 17);
  -webkit-text-decoration-color: rgb(66, 45, 17);
  text-decoration-color: rgb(66, 45, 17);
}